<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Admin's Panel</title>
    <link rel="stylesheet" href="../static/styles/adminsPanelStyles.css" th:href="@{/styles/adminsPanelStyles.css}">
</head>
<body>
<div class="hello">
    <span class="plant">Plant</span><span class="pro">Pro</span>
</div>
<section class="manage">
    <a th:href="@{/add}" >
        <div class="add">
            <p>ADD EMPLOYEE</p>
        </div>
    </a>
    <a th:href="@{/delete}">
        <div class="delete">
            <p>DELETE EMPLOYEE</p>
        </div>
    </a>
</section>
<section class="stats">
    <a th:href="@{/showAllEmployees}">
        <div class="all">
            <p>SHOW ALL EMOPLOYEES</p>
        </div>
    </a>
    <a th:href="@{/showAllSalaries}">
        <div class="salaries">
            <p>SHOW CURRENT EMPLOYEE SALARIES</p>
        </div>
    </a>
</section>
</body>
</html>