<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Employee salaries</title>
  <link rel="stylesheet" href="../static/styles/employeeListStyles.css" th:href="@{styles/employeeListStyles.css}">
</head>
<body>
<main>
  <div>
    <h1>
      Employee salaries list
    </h1>
  </div>
  <div class="list">
    <div class="pattern">
      <p> Name:  | Surname:  | Earned:  </p>
    </div>
    <ul class="myUL" th:remove="all-but-first">
      <li th:each="salary: ${salariesList}">
        <div>
          <p th:text="*{'Name: ' + salary.getUser().getFirst_name() + ' | Surname: ' + salary.getUser().getLast_name() + ' |  Earned: ' + salary.getSalary_value()}">
            Dane 1
          </p>
        </div>
      </li>
      <li>
        <div>
          <p>
            Dane 2
          </p>
        </div>
        </a>
      </li>
    </ul>
  </div>
</main>
</body>
</html>