<!DOCTYPE html>
<html lang="en"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Job list</title>
    <link rel="stylesheet" href="../static/styles/jobListStyles.css" th:href="@{styles/jobListStyles.css}">
</head>
<body>
<header>
<h1>Choose job</h1>
</header>
<main>
    <div class="list">
        <ul class="myUL" th:remove="all-but-first">
            <li th:each="job: ${jobs}">
                        <form th:action="@{/saveJobAndUser}" method="post">
                        <button th:name="jobName" class="button" th:text="*{job.name}" th:value="*{job.name} " >
                            Job 1
                        </button>
                    </form>
            </li>
            <li>
                <a href="#">
                    <button class="button">
                        Job 2
                    </button>
                </a>
            </li>
        </ul>
        <form th:action="@{/endWork}" method="post">
            <button class="einde-werk" >
                Einde werk
            </button>
        </form>
    </div>
</main>
<footer>

</footer>
</body>
</html>