
body {
    font-family: Arial, SansSerif, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    width: 50%;
    padding: 2rem;
    background-color: #f2f2f2;
    border-radius: 1rem;
    box-shadow: 0 0 10px #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px #ccc;
}

input[type="submit"] {
    width: 100%;
    padding: 1rem;
    background-color: red;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: green;
}

@media (max-width: 768px) {
    form {
        width: 80%;
        height: 80%;
    }
}

@media (max-width: 576px) {
    form {
        width: 90%;
        height: 90%;

    }
}

@media (max-width: 480px) {
    label {
        font-size: 1rem;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    select {
        font-size: 0.8rem;
    }

    input[type="submit"] {
        font-size: 1rem;
    }
}
