body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.employee, .admin {
    width: 50%;
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    justify-content: center;
}

a {
    padding: 10px 20px;
    background-color: lightgray;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
